body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

/* Top container section */

.top-container {
  background-color: #EAF6F6;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

.name {
  margin: 0 auto 20px;
  padding-top: 125px;
  font-size: 60px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

.work {
  margin: 12px 0;
  font-size: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 330px;
}

/* Middle container section */

/* Introduction part */

.introduction {
  width: 50%;
  margin: 50px auto;
}

.gaurab-img {
  width: 25%;
}

p {
  color: #40514E;
  line-height: 2;
}

hr {
  width: 80px;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  border-top-color: grey;
}

/* Skills part */

.skills {
  margin: 50px auto;
}

/* First skill sub-part */

.first-skill {
  width: 50%;
  margin: 50px auto 100px;
  text-align: left;
}

.pro-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.skill-domain {
  margin-bottom: 15px;
}

.skill-description {
  margin-top: 0;
}

/* Second skill sub-part */

.second-skill {
  width: 50%;
  margin: 0 auto 100px;
  text-align: left;
}

.computer-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

/* Third skill sub-part */

.third-skill {
  width: 50%;
  margin: 0 auto 50px;
  text-align: left;
}

.chillies-img {
  width: 23%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

/* Contact sub-part */

.contact {
  width: 50%;
  margin: 50px auto;
}

.msg {
  margin-bottom: 30px;
}

.button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px 35px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 0;
   border: 3px solid #66BFBF;
}

.button:hover {
   background: #151516;
   border: solid #FFAE00 3px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

/* Bottom container section */

.bottom-container {
  background-color: #66BFBF;
}

.footer-links {
  padding: 70px 0 50px;
}

.footer-link {
  margin: auto 30px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
  color: #EAF6F6;
}

.end-line {
  margin: 0;
  padding-bottom: 50px;
  color: #EAF6F6;
  font-size: 0.75rem;
}

/* Media queries */

@media screen and (max-width: 1250px) {
  .top-cloud {
    right: 250px;
  }

  .bottom-cloud {
    left: 280px;
  }
}

@media screen and (max-width: 1140px) {
  .top-cloud {
    right: 200px;
  }

  .bottom-cloud {
    left: 230px;
  }

  .gaurab-img, .pro-img, .computer-img, .chillies-img {
    width: 40%;
  }
}

@media screen and (max-width: 965px) {
  .top-cloud {
    right: 150px;
  }

  .bottom-cloud {
    left: 180px;
  }

  .gaurab-img, .pro-img, .computer-img, .chillies-img {
    width: 30%;
  }

  .introduction, .first-skill, .second-skill, .third-skill, .contact {
    width: 75%;
  }

  .third-skill {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 890px) {
  .top-cloud {
    width: 15%;
    right: 130px;
    top: 70px;
  }

  .bottom-cloud {
    width: 15%;
    left: 150px;
    top: 270px;
  }

  .mountain-img {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .top-cloud {
    right: 100px;
  }

  .bottom-cloud {
    left: 120px;
  }

  .gaurab-img, .pro-img, .computer-img, .chillies-img {
    width: 45%;
  }
}

@media screen and (max-width: 675px) {
  .top-cloud {
    right: 60px;
    top: 80px;
  }

  .bottom-cloud {
    left: 80px;
  }

  .third-skill {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 555px) {
  .top-cloud {
    right: 40px;
    top: 90px;
  }

  .bottom-cloud {
    left: 50px;
  }

  .gaurab-img, .pro-img, .computer-img, .chillies-img {
    width: 50%;
  }

  .introduction, .first-skill, .second-skill, .third-skill, .contact {
    width: 80%;
  }
  
  .footer-link {
    margin: auto 10px;
  }
}
